-- Script untuk menambahkan tabel user_settings ke database Supabase
-- Tabel ini menyimpan pengaturan pengguna seperti API key dan preferensi model AI

-- Buat tabel user_settings jika belum ada
CREATE TABLE IF NOT EXISTS public.user_settings (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    user_id uuid NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    api_key text, -- Untuk menyimpan Gemini API key
    default_model text DEFAULT 'gemini-2.0-flash', -- Default model AI yang digunakan
    ai_config jsonb DEFAULT '{"temperature": 0.2, "maxOutputTokens": 65536, "topP": 0.95, "topK": 64, "responseStyle": "balanced", "showThinkingProcess": false}'::jsonb, -- Konfigurasi AI dalam format JSON
    created_at timestamptz DEFAULT now(),
    updated_at timestamptz DEFAULT now(),
    CONSTRAINT user_id_unique UNIQUE (user_id)
);

-- Tambahkan indeks untuk mempercepat pencarian berdasarkan user_id
CREATE INDEX IF NOT EXISTS idx_user_settings_user_id ON public.user_settings(user_id);

-- Setup RLS (Row Level Security) untuk tabel user_settings
ALTER TABLE public.user_settings ENABLE ROW LEVEL SECURITY;

-- Policy untuk membatasi akses ke pengaturan pengguna hanya oleh pemiliknya
DROP POLICY IF EXISTS "Pengguna dapat CRUD pengaturan mereka sendiri" ON public.user_settings;
CREATE POLICY "Pengguna dapat CRUD pengaturan mereka sendiri"
    ON public.user_settings
    USING (auth.uid() = user_id)
    WITH CHECK (auth.uid() = user_id);

-- Tambahkan fungsi untuk update updated_at saat ada perubahan
CREATE OR REPLACE FUNCTION update_modified_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = now();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Hapus trigger jika sudah ada
DROP TRIGGER IF EXISTS update_user_settings_timestamp ON public.user_settings;

-- Buat trigger baru dengan sintaks yang benar
CREATE TRIGGER update_user_settings_timestamp
BEFORE UPDATE ON public.user_settings
FOR EACH ROW
EXECUTE FUNCTION update_modified_column();

-- Add some useful indexes
CREATE INDEX IF NOT EXISTS user_settings_user_id_idx ON public.user_settings (user_id);
